.dis_wrap {
    background-color: #FFDC00;
    padding: 230px 180px 131px;
}

.dis_wrap .col-4 {
    margin-right: -1%;
    margin-bottom: 1.805%;
}

.discography_title {
    position: absolute;
    font-family: SolanoGothic;
    display: flex;
    justify-content: center;
    top: 22%;
    left: 38%
}

.discography_title h1 {
    font-family: SolanoGothic;
    font-size: 95px;
}

.cover_inner {
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover_inner img {
    height: 347px;
    width: 345.71px;
}

.cover_inner:hover {
    cursor: pointer;
}

.cover_inner p {
    position: absolute;
    text-align: center;
}

.cover_inner img:hover {
    filter: brightness(0.30);
}