
#title{
    line-height: 60px; font-family: MVB; font-size: 70px; color: white; min-height: 132px;
}
#arrow{
    font-size: 20px; padding-right: 100px; color: white;
}
#headvid{
    text-align: center; color: white; position: absolute; overflow:hidden; font-size: 80px; font-family: MVB; margin-bottom:758px;text-shadow: 0px 0px 3px rgb(0 0 0 / 40%);
}
.vidbut{
    font-family: camberm;
    color: yellow;
    opacity: 60%;
}
.vidbut:hover{
    opacity: 1;
}
.imgoverlay{
    position: relative; overflow:hidden;
    width: 1080px;
    height: 608px;
    opacity: 1;
    display: block;
    background-color: rgb(0, 0, 0, 0.6);
}
.imgoverlay:hover{
    opacity: 0;
}
.videobg{
    background: #d2628c;
    width: 1920px; height: 720px;
}
#arrowbot:hover{
    color: pink;
}
.videobg > ul > li  {display: none;}