*{
    /* font-family: CamberSemiBold; */
    font-family: CamberMedium;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.head {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
}

.content {
    min-height: 100vh;
}

.menu-bar {
    background: url("../imgSrc/main/btn-gnb.png");
}

.menu {
    width: 5.5em;
    height: 63px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.close {
    background: url("../imgSrc/main/btn-close.png");
    background-position: center;
    background-size: 35%;
    background-repeat: no-repeat;
}

.footer {
    z-index: 2;
    width: 100vw;
    height: 60px;
    background-color: #272727;
}

.family-site {
    width: 22.25em;
    margin-bottom: 0.125em;
    border-bottom: #929191 solid 1px;
}

.family-btn {
    border: none;
    font-size: 13.25px;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 1em;
    padding-bottom: 1em;
    color: #929191;
    background-image: url("https://img.icons8.com/ios-filled/50/000000/collapse-arrow.png");
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: 100%;
    background-position-y: 0.5em;
}

#family_site {
    list-style-type: none;
    bottom: 2em;
    width: 22.25em;
    padding-left: 0;
}

#family_site li {
    background-color: #1e1e1e;
    box-sizing: border-box;
    padding-block: 10px;
}

#family_site li:hover {
    background-color: rgb(0, 0, 0);
    padding-block: 10px;
}

.footer .active {
    border-color: rgba(146, 145, 145, 0.5);
}

.active .family-btn {
    color: rgba(146, 145, 145, 0.5);
    background-image: url("https://img.icons8.com/ios-filled/50/000000/expand-arrow--v1.png");
}

.family-link {
    cursor: pointer;
}

.copyright {
    font-size: 11px;
    font-family: CamberMedium;
}

.copyright div {
    padding-top: 5px;
    padding-right: 2em;
    color: rgba(146, 145, 145, 0.5);
}

.family-link {
    margin-bottom: -2px;
    margin-right: 30px;
}
