*{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.head {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    min-height: 100vh;
}

.menu-bar {
    background: url("../imgSrc/main/btn-gnb.png");
}

.menu {
    width: 5.5em;
    height: 63px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.close {
    background: url("../imgSrc/main/btn-close.png");
    background-position: center;
    background-size: 35%;
    background-repeat: no-repeat;
}

.footer {
    z-index: 2;
    width: 100vw;
    height: 60px;
}

.family-site {
    width: 22.25em;
    margin-bottom: 0.125em;
    border-bottom: #929191 solid 1px;
}

.family-btn {
    border: none;
    font-size: small;
    background-color: rgba(255, 255, 255, 0);
    padding-bottom: 1em;
    color: #929191;
}

.footer .active {
    border-color: rgba(146, 145, 145, 0.5);
}

.active .family-btn {
    color: rgba(146, 145, 145, 0.5);
}
.cover{
    box-shadow: 0px 5px 10px #ccc;
}