.dropdown{
  margin-top: 4%;
}
.dropbtn {
    background-color: transparent;
    color: #404040;
    width: 30vw;
    display: inline-block;
    overflow-y: hidden;
    position: relative;
    font-size: 1vw;
    font-weight: bold;
    font-family: CamberMedium;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(170, 170, 170, 0.8);
  }
  
  
  .dropdown-content {
    display:  none;
    background-color: #f0f0f0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }


  
  .dropdown-content a {
    width: 95%;
    left: 12.5;
    position: absolute;
    text-align: center;
    font-size: 1vw;
    font-weight: 700;
    background: #f0f0f0;
    color: rgba(64, 64, 64, 0.8);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #dadada;}
  
  .dropdown-content:hover {
    background-color: #dadada;
  }
  
  .dropdown:hover .dropdown-content {
    display: inline-block;
    overflow: visible;
    
  }
  .dropdown:hover .droparrow {
    transform: rotateX(180deg);
    
  }
  .dropdown-content a:hover{
    color: #404040;
    
  }
  .dropdown:hover{  
    cursor: pointer;
  }
  .dropdown:hover .dropbtn{
    color: #797979    ;
  }
  .dropdown:hover .dropdown-content a{
    overflow: visible;
  }
  .droparrow{
    position: absolute;
    top:-10%;
  }
  .pic{
    background-image: url('../imgSrc/BTS/TOUR/tour-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  .board{
    border-bottom: 1px solid rgba(170, 170, 170, 0.8);
    border-top: 1px solid rgba(170, 170, 170, 0.8);
  }
  .boarddown{
    border-bottom: 1px solid rgba(170, 170, 170, 0.8);
  }
  .day{
    font-size: 1vw;
    font-weight: 700;
    color: black;
    margin-left: 5%;
    padding-top: 17.5%;
  }
  .year{
    font-size: 1vw;
    color:#a9b0bc    ;
    margin-left: 5%;
  }
  .town{
    font-size: 1.25vw;
    font-weight:700;
    color: black;
    margin-left: 5%;
    padding-top: 7.5%;
  }
  .place{
    font-size: 1vw;
    color:#86737a    ;
    margin-left: 5%;
  }
  .ticket{
    width: 6vw;
    height:6vw;
    border-radius: 50%;
    background-color: #c1c1c1    ;
    display: flex;
    color: #f9fdff    ;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    font-weight: 700;
    margin: auto;
    margin-top: 0.75vw;
    }
